.side-nav {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s;
    transform: translateX(-100%);
  }
  
  .side-nav.open {
    transform: translateX(0);
  }